
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_my template.cshtml";
}


<section class="services wrapper">
   
    <h2>@ViewBag.Title.</h2>
      
           
            <i> A voicemail system (also known as voice message or voice bank) is a computer-based system that allows users and subscribers to exchange personal voice messages; to select and deliver voice information; and to process transactions relating to individuals, organizations, products and services, using an ordinary telephone. The term is also used more broadly to denote any system of conveying a stored telecommunications voice messages, including using an answering machine. Most cell phone services offer voice-mail as a basic feature; many corporate PBXs include versatile internal voice-messaging services, and *98 Vertical service code subscription is available to most individual and small business land line subscribers.</i>            <br><br><br><br><br>
            
               <h3> History</h3>
               <i> The term Voicemail was coined by Televoice International (later Voicemail International, or VMI) for their introduction of the first US-wide Voicemail service in 1980. Although VMI trademarked the term, it eventually became a generic term used for referring to virtually all automated voice services employing a telephone.  Voicemail popularity continues today with Internet telephone services such as Skype, Google Voice and ATT that integrate voice, voicemail and text services for tablets and smartphones

                Voicemail systems were developed in the late 1970s by Voice Message Exchange (VMX). They became popular in the early 1980s when they were made available on PC-based boards.[1] In September 2012 a report from USA Today and Vonage claimed that Voice mail was in decline. The report said that the number of voicemail messages declined 8 percent compared to 2011.[2][3]
    </i><br>
               <h3> Features</h3>
             <i><br>   Voicemail systems are designed to convey a caller's recorded audio message to a recipient. To do so they contain a user interface to select, play, and manage messages; a delivery method to either play or otherwise deliver the message; and a notification ability to inform the user of a waiting message. Most systems use phone networks, either cellular- or landline-based, as the conduit for all of these functions. Some systems may use multiple telecommunications methods, permitting recipients and callers to retrieve or leave messages through multiple methods such as PCs, PDA, Cellphones or Smartphones.

                Simple voicemail systems function as a remote answering machine using touch-tones as the user interface. More complicated systems may use other input devices such as voice or a computer interface. Simpler voice-mail systems may play the audio message through the phone, while more advanced systems may have alternative delivery methods, including email or text message delivery, message transfer and forwarding options, and multiple mailboxes.

                Almost all modern voicemail systems use digital storage and are typically stored on computer data storage. Notification methods also vary based on the voice-mail system. Simple systems may not provide active notification at all, instead requiring the recipient to check with the system, while others may provide an indication that messages are waiting.

                More advanced systems may be integrated with a company’s PABX, with a call center ACD for automatic call distribution; with mobile or paging terminals for message alert; and computer systems/data bases for delivering information or processing orders. Interactive Voice Response (IVR) systems may use digital information stored in a corporate data base to select pre-recorded words and phrases stored in a voice-mail vocabulary to form sentences that are delivered to the caller.
    </i><br>
                <h3>Message centers</h3>
              <i>  The conventional solution to efficient handling of telephone communication in businesses was the "message center." A message center or "message desk" was a centralized, manual answering service inside a company staffed by a few operators who answered all incoming phone calls. Extensions that were busy or rang "no answer" would forward to the message center using a device called a "call director". The call director had a button for each extension in the company which would flash when that person's extension forwarded to the message center. A little label next to the button told the operator the person being called.

                While it was an improvement over basic multi-line systems, the message center had many disadvantages. Many calls would come in simultaneously at peak periods, such as lunch time, and operators were often busy. This left message attendants with little time to take each message accurately. Often, they were not familiar with employees' names and "buzzwords" and how to spell or pronounce them. Messages were scribbled on pink slips and distributed by the internal mail system and messages, often arrived at people's desks after lengthy delays, contained little content other than the caller's name and number, and were often inaccurate, with misspelled names and wrong phone numbers.

                Tape-based telephone answering machines had come into the residential telephone market, but they weren't used much in the corporate environment due to physical limitations of the technology. One answering machine was needed for each telephone; messages couldn't be recorded if the user was using the phone; messages had to be retrieved in sequential order; and messages couldn't be retrieved remotely, selectively discarded, saved, or forwarded to others. Further, the manufacturers of PBXs (private branch exchanges—the name for corporate phone systems) used proprietary digital phone sets in order to increase the functionality and value of the PBX. These phone sets were, by design, incompatible with answering machines.

                In the 1970s and early 1980s, the cost of long distance calling decreased and more business communications were conducted by telephone. As corporations grew and labor rates increased, the ratio of secretaries to employees decreased. With multiple time zones, fewer secretaries and more communication by phone, real-time phone communications were hampered by callers being unable to reach people. Some early studies showed that only 1 in 4 phone calls resulted in a completed call and half the calls were one-way in nature (that is, they did not require a conversation). This happened because people were either not at work (due to time zone differences, being away on business, etc.), or if they were at work, they were on the phone, away from their desks in meetings, on breaks, etc. This bottleneck hindered the effectiveness of business activities and decreased both individual and group productivity. It also wasted the caller's time and created delays in resolving time-critical issues.
    </i><br>
              <h3>  Invention</h3>
               <i> The first public records describing voice recording were reported in a New York newspaper and the Scientific American in November 1877. Thomas A. Edison had announced the invention of his "phonograph" saying "the object was to record telephone messages and transmit them again by telephone." Edison applied for a U.S. patent in December 1877 and shortly thereafter demonstrated the machine to publishers, the U.S. congress and President Hayes, recording and playing "Mary had a little lamb... " and "there was a little girl who had a little curl... " and other ditties popular at the time. In an article outlining his own ideas of the future usefulness of his machine Edison's list began with "Letter writing, and all kinds of dictation without the aid of a stenographer." In other words, "voice messages" or "Voice-mail". By 1914, Edison's phonograph business included a dictating machine (the Ediphone) and the "Telescribe", a machine combining the phonograph and the telephone, which recorded both sides of telephone conversations.[4]

                For nearly one hundred years, there were few innovations or advances in telephone services. Voicemail was the result of innovations in telephone products and services made possible by developments in computer technology during the 1970s. These innovations began with the Motorola Pageboy, a simple "pager" or "beeper" introduced in 1974 that was generally offered in conjunction with answering services that handled busy / no-answer overloads and after hours calls for businesses and professionals. Operators wrote down a caller's message, sent a page alert or "beep" and when the party called back, an operator dictated the message.

                With the introduction of "voice" pagers, like the Motorola Pageboy II operators could transmit a voice message directly to the pager and the user could hear the message. However, messages arrival was often untimely and privacy issues as well as the high cost eventually caused the demise of these services. By the mid 1970s digital storage and analog to digital conversion devices had emerged and paging companies began handling client messages electronically. Operators recorded a short message (5–6 seconds, e.g. "please call Mr. Smith") and the messages were delivered automatically when the client called the answering service. It would only take a short step for the first voicemail application to be born.

                Computer manufacturers, telephone equipment manufacturers and software firms began developing more sophisticated solutions as more powerful and less expensive computer processors and storage devices became available. This set the stage for a creation of a broad spectrum of computer based Central Office and Customer Premises Equipment that would eventually support enhanced voice solutions such as voicemail, audiotex, interactive voice response (IVR) and speech recognition solutions that began emerging in the 1980s. However, broad adoption of these products and services would depend on the global proliferation of touch tone phones and mobile phone services which would not occur until the late 1980s.
    </i><br>
           <h3>     Controversy</h3>
               <i> Many contributed to the creation of the modern-day voice-mail. Legal battles ensued for decades.[5] The true first inventor of voicemail, patent number 4,124,773 (Audio Storage and Distribution System), is Robin Elkins.[6] "Though Elkins received a patent in 1978, telecommunications giants began offering voicemail without paying Elkins a penny in royalties." [7] "Elkins never expected to spend 10 years of his life battling some of the world's largest corporations, either. But once he patented his system, he figured he should protect it."[8] Later, Elkins successfully licensed his patented technology to IBM, DEC, WANG, among many others. Unfortunately, his patent did not address simultaneity of voice message access and storage and the application for patent was filed after the patent application of the system patented by Kolodny and Hughes. as described below.
    </i><br>
           <br>  <h4>   Pioneering applications</h4><br>
                <i>One of the first modern day voicemail applications was invented by Gerald M. Kolodny and Paul Hughes, which was described in an article in the medical journal, Radiology (Kolodny GM, Cohen HI, Kalisky A. Rapid-access system for radiology reports: a new concept. Radiology. 1974;111(3):717-9) A patent was applied for by Kolodny and Hughes in 1975, prior to the patent applications of both Elkins and Matthews and was issued in 1981 (U.S. patent 4,260,854). The patent was assigned to Sudbury Systems of Sudbury Massachusetts who proceeded to market and sell such systems to corporations and hospitals. IBM, Sony and Lanier, as well as several smaller makers of voice-mail systems, licensed the Sudbury patent for their voice-mail systems. A patent suit, brought by Pitney Bowes, claiming prior art to the Sudbury patent, was denied by the U.S. District Court, District of Connecticut on November 8, 2000. A similar suit brought byVDI Technologies against the Kolodny and Hughes patent claiming prior art was dismissed by the U.S. District Court in New Hampshire on 12/19/1991.
    </i><br>
               <br> <h4>IBM Audio Distribution System</h4>
               <br>
    <i> The first voice-messaging application, the Speech Filing System, was developed at the IBM Thomas J. Watson Research Center in 1973 under the leadership of Stephen Boies.[9] It was later renamed the Audio Distribution System (ADS).

                ADS used the human voice and the fixed-line touch-tone telephones that predated computer screens and mobile phones. The first operational prototypes were used by 750 IBM executives mainly in the USA for their daily work. Those prototypes ran on an IBM System/7 computer attached to an IBM VM370 for additional storage.

                In 1978 the prototype was converted to run on an IBM Series/1 computer. In September 1981 IBM started marketing ADS in America and Europe: the first customer installation was completed in February 1982.

                ADS,[10] marketed by IBM and briefly by AT&T Corporation, was well featured for voice messaging, the result of IBM's considerable human-factors research plus observation of operational use. Using a 1980s computer requiring air conditioning, it was expensive and physically large. With further development it grew to handle up to 3000 users, 100 hours of messages, multiple languages, message notification to a host computer, and 16 simultaneous users.[11]

                ADS could be connected to exchange lines and private exchanges including the IBM 2750 and 3750 Switching Systems available in Germany, France, Italy, Belgium, and the UK.
    </i>
        <br>
   <br> <h4>        IBM sold many systems,[10] Installations[11] including:</h4>
    <br>
               <i> The 1984 Los Angeles Olympic Games with 7 systems serving 7800 athletes and 6000 staff — and computer voice prompts in 12 languages for 55,000 messages
                General Motors, USA with 8 ADS systems saving 30% of the costs of its long-distance calls
                Systems across America and Europe for insurance-company staff to report their appraisals of damaged vehicles and hear the locations of their next appraisal sites
                Esso in France and Mars in England for salesforce coordination
                Rowntree's in York, England to liaise with the chocolate-makers' agents across time zones in Europe, North America, the Middle East, and Australia
                Italy: 10 systems across Italy for the public to call to hear locally-relevant autostrade traffic-delay information
                Milan, Italy: two systems for automated airport announcements, handling multiple languages.
               </i> <br>
   <br> <h4>Delta 1</h4><br>
               <i> Another company, Delphi Communications of California, deserves some partial credit for invention of voicemail. Under the leadership of Jay Stoffer, Delphi developed a proprietary system called Delta 1 that picked up incoming calls directly from the telephone company. Stoffer presented the Delphi concept publicly to the association of Telephone Answering Services around 1973 and the prototype system was launched in San Francisco in 1976 by a Delphi company called VoiceBank. Delphi developed Delta 1 as a purely service-oriented voice messaging system to answer subscriber telephones for businesses and professionals. Delta 1 required human intervention for message deposit. While three machines were built, only one machine was put into operational service. The completely automated voice messaging system (Delta 2) was developed for initial operational use in Los Angeles in 1981. Apparently Delta 2 was built, installed and operational for a short while, but unfortunately Delphi's major early investor, Exxon Enterprises, abruptly shut down Delphi in July, 1982. Nothing further was done with Delphi's technology. A patent was applied for and issued for Delphi's Automated Telephone Voice Service System. The patent, U.S. Patent No. 4,625,081, was issued after Delphi's closure, but Delphi's assets (and the patent) were transferred to another Exxon company, Gilbarco, which made equipment for gas pumps at filling stations. Gilbarco is now owned by GEC in the United Kingdom.
    </i><br><br><br><br><br><br>
</section>

<footer>

<div class="wrapper">
    <div class="rights">
        <img src="@Url.Content("~/Content/my template/")img/V-Mail-logo.png" alt="" class="footer_logo" />



        <p>All right reserved &copy; @DateTime.Now.Year - Muskitron Corporation</p>
    </div>

    <nav>
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</div>
</footer>
    
    <!--  End footer  -->