
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Registration.cshtml";
}

<div class="container">
    <header>
        <h1>Create your Voice Mail Account Name</h1>
    </header>
    <div class="form">
        <form id="contactform">
            <p class="contact"><label for="name">First Name</label></p>
            <input id="name" name="name" placeholder="First Name " required="" tabindex="1" type="text">

            <p class="contact"><label for="name">Last Name</label></p>
            <input id="name" name="name" placeholder="Last Name" required="" tabindex="1" type="text">


            <p class="contact"><label for="email">Email</label></p>
            <input id="email" name="email" placeholder="example@domain.com" required="" type="email">

            <p class="contact"><label for="username">Create your username</label></p>
            <input id="username" name="username" placeholder="example@vmail.com" required="" tabindex="2" type="text">

            <p class="contact"><label for="password">Create a password</label></p>
            <input type="password" id="password" placeholder="******" name="password" required="">
            <p class="contact"><label for="repassword">Confirm your password</label></p>
            <input type="password" id="repassword" placeholder="******" name="repassword" required="">

            <fieldset>
                <label>Birthday</label>
                <label class="month">
                    <select class="select-style" name="BirthMonth">
                        <option value="">Month</option>
                        <option value="01">January</option>
                        <option value="02">February</option>
                        <option value="03">March</option>
                        <option value="04">April</option>
                        <option value="05">May</option>
                        <option value="06">June</option>
                        <option value="07">July</option>
                        <option value="08">August</option>
                        <option value="09">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                  </label>
                
                <label>Day<input class="birthday" maxlength="2" name="BirthDay" placeholder="Day" required=""></label>
                <label>Year <input class="birthyear" maxlength="4" name="BirthYear" placeholder="Year" required=""></label>
            </fieldset>

            <select class="select-style gender" name="gender">
                <option value="select">i am..</option>
                <option value="m">Male</option>
                <option value="f">Female</option>
                <option value="others">Other</option>
            </select><br><br>

            <p class="contact"><label for="phone">phone Number</label></p>
            <input id="phone" name="phone" placeholder="+88 0" required="" type="text"> <br>

            <div class="flex-m w-full p-b-33">
                <div class="contact100-form-checkbox">
                    <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                    <label class="label-checkbox100" for="ckb1">
                        <span class="txt1">
                            I agree to the
                            <a href="#" class="txt2 hov1">
                                Terms & Conditions.
                            </a>
                        </span>
                    </label>
                </div>


            </div><br>

            <input class="buttom" name="submit" id="submit" tabindex="5" value="Sign me up!" type="submit">
        </form>
    </div>
</div>

